---
---
<section id="project">
    <h2 class="title">Project</h2>
    <div class="card-container" id="projects">
    </div>
</section>
<script>
import { project } from "src/config";
fetch(`https://api.github.com/users/${project.github_name}/repos?per_page=10`).then(res => res.json()).then(res => {
    injectProjects(res)
})

function injectProjects(data){
    data.sort((a,b) => b.stargazers_count - a.stargazers_count);
    data = data.filter(p => {
        if(project.filter_fork && p.fork){
            return false
        }
        if(project.filter_readme && p.name.trim().toUpperCase() === project.github_name.trim().toUpperCase()){
            return false
        }
        return true
    })
    const container = document.getElementById('projects');
    const domStr = data.map(pr => `
        <a class="github-card" href="${pr.html_url}">
            <div class="name">${pr.name}</div>
            <div class="desc">${pr.description || ''}</div>
            <div class="info">
                <span class="language">${pr.language || ''}</span>
                <span class="star">⭐${pr.stargazers_count}</span>
            </div>
        </a>
    `).join('');
    container.innerHTML = domStr
}
</script>

<style>
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
@media screen and (max-width: 768px){
    .card-container{
        grid-template-columns: 1fr;
    }
}
</style>
<style is:global>
.github-card{
    border: 3px solid var(--border-color);
    background: var(--card-bg);
    border-radius: var(--base-radius);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.2em; 
}
.github-card:is(:hover, :focus-within){
    background: var(--card-hover-bg);
}
.github-card .name{
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4;
}
.github-card .desc{
  flex: 1;
}
.github-card .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>