html,body,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{color:rgba(var(--text-color-meta), 1);}

*{
    box-sizing: border-box;
    transition: background 0.3s;
}

:root{
    --side-space: 18vw;

    --base-radius: 0.5em;
    --texture: rgba(43,44,46,0.2);

    --text-color-meta: 81, 87, 90;
    --text-color: rgba(var(--text-color-meta), 1);

    --border-color: rgba(255,255,255,0.2);
    --bg: rgb(235, 244, 256, 0.72);
    --card-bg-meta: 255,255,255;
    --card-bg: rgba(255,255,255, 0.4);
    --card-hover-bg: rgba(255,255,255, 0.7);
    --card-active-bg: rgba(255,255,255, 0.9);
}
@media (max-width: 900px) {
    :root{
        --side-space: 5vw
    }
}
html.dark{
    --text-color-meta: 126, 133, 151;

    --border-color: rgba(115,115,115,0.2);
    --border-color: rgba(0, 0, 0, 0.2);

    --texture: rgba(99,99,99,0.02);
    
    --bg: rgb(14, 19, 23, 0.85);
    --card-bg-meta: 8, 12, 15;
    --card-bg: rgba(var(--card-bg-meta), 0.4);
    --card-hover-bg: rgba(var(--card-bg-meta), 0.7);
    --card-active-bg: rgba(var(--card-bg-meta), 0.9);
}

html::-webkit-scrollbar{
    width: 0;
    height: 0;
}
html{
    background-image: url('/images/bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body{
    min-height: 100vh;
    background-color: var(--bg);
    padding: 0 var(--side-space);
    font-size: 16px;
    color: rgba(var(--text-color-meta), 1);
}


h1,h2,h3,h4,h5,h6{
    color: rgba(var(--text-color-meta), 1);
}

h2.title{
    text-align: center;
}
svg.icon, img.icon{
    fill: currentColor;
    width: 100%;
    height: 100%;

}
