---
import { site } from "src/config";
import SvgSun from "@components/Icon/Sun.astro"
import SvgSubway from "@components/Icon/Subway.astro"
import SvgNav from "@components/Icon/Nav.astro"
---

<header id="header">
    <h1>
        <a href="/" class="site-icon">{site.author}</a>
    </h1>
    <div class="site-buttons">
        <button class="site-button" onclick="toggleNav()">
            <SvgNav/>
        </button>
        <button class="site-button" onclick="toggleDarkMode()">
            <SvgSun/>
        </button>
        <a class="site-button" href="https://travellings.cn/go.html" target="_blank" title="开往·友链接力">
            <SvgSubway/>
        </a>
    </div>
</header>
<script is:inline>
function toggleDarkMode(){
    document.documentElement.classList.toggle('dark')
}
</script>

<style>
#header{
    width: 100%;
    height: 6em;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .site-icon{
    height: 3em;
    font-size: 14px;
    font-weight: bold;
    color: rgba(var(--text-color-meta),1);
    background: var(--card-bg);
    display: flex;
    align-items: center;
    padding: 0 1em;
    border-radius: 2em;
    border: 3px solid var(--border-color);
}
#header .site-icon:hover{
    background: var(--card-hover-bg);
}
#header .site-icon-img{
    width: 100%;
    height: 100%;
}
#header .site-buttons{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
#header .site-button{
    display: inline-block;
    width: 3em;
    height: 3em;
    font-size: 12px;
    border: none;
    outline: none;
    padding: 0.75em;
    border: 3px solid var(--border-color);
    border-radius: 50%;
    background: var(--card-bg);
    color: rgba(var(--text-color-meta), 1);
}
#header .site-button:hover{
    background: var(--card-hover-bg);
}
</style>