---
import { navs } from "src/config";
---
<nav id="nav" class="hide">
    <div class="nav-container">
        {
            navs.map(group => (
                <div class="group-title">{group.name}</div>
                <div class="group">
                    {
                        group.links.map(link => (
                            <a class="item" href={link.href} target="_blank" set:html={`
                                ${link.icon} 
                                <span>${link.name}</span>
                                `}>
                                
                                
                            </a>
                        ))
                    }
                </div>
            ))
        }
    </div>
</nav>

<script is:inline>
document.getElementById('nav').addEventListener('click', function(e) {
    if(e.target === this)toggleNav(false);
})
function toggleNav(flag){
    const nav = document.getElementById('nav')  
    if(flag !== undefined){
        if(flag){
            nav.classList.remove('hide');
        }else{
            nav.classList.add('hide')
        }
    }else{
        nav.classList.toggle('hide')
    }
}
</script>

<style>
#nav{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 0 4em;
    background: var(--texture);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 1001;
}
#nav.hide{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
.nav-container{
    width: 50vw;
    max-height: 60vh;
    background: var(--bg);
    border-radius: var(--base-radius);
    padding: 1em;
    overflow-y: scroll;
}
.nav-container::-webkit-scrollbar{
    width: 1px;
}
.group-title{
    color: rgba(var(--text-color-meta), 1);
    font-weight: bold;
    font-size: 0.8em;
    margin: 0.5em;
}
.group{
    display: grid;
    gap: 0.2em;
}
.item{
    padding: 1em;
    border-radius: var(--base-radius);
    display: flex;
    align-items: center;
    gap: 1em;
    color: rgba(var(--text-color-meta), 1);
}
.item:hover{
    background: rgb(80, 70, 229);
    color: #fff;
}
</style>
<style is:global>
    
#nav .item .icon{
    width: 1em;
    height: 1em;
}
</style>