---
import TheHeader from "@components/The/Header.astro"
import TheNav from "@components/The/Nav.astro"
import TheFooter from "@components/The/Footer.astro"
import BaseHead from "@components/The/BaseHead/BaseHead.astro"
import "@styles/global.css"
interface Props{
    title: string,
	keywords: string,
	description: string
}
const { title, keywords, description } = Astro.props
---

<html lang="zh-CN" class="dark">
	<head>
		<BaseHead title={title} description={description} keywords={keywords}/>
		<slot name="head"></slot>
		<title>{title}</title>
	</head>
	<body>
        <TheHeader/>
		<TheNav/>
        <main id="main">
            <slot></slot>
        </main>
		<TheFooter transition:name="footer" transition:presist transition:animate="slide({duration: '4s'})"/>
	</body>
</html>
